drupal_core_path: "/var/www/drupalvm/web"
vagrant_synced_folders:
  # The first synced folder will be used for the default Drupal installation, if
  # any of the build_* settings are 'true'. By default the folder is set to
  # the drupal-vm folder.
  - local_path: {{YOUR LOCAL PATH TO THE HM-PUBLIC-REPO}}
    destination: /var/www/drupalvm
    type: nfs
    create: true
